#cloud-config

package_update: true
package_upgrade: false

packages:
  - docker.io
  - git

# install dotnet manually (because SDK 8 isn't in standard apt repos)
runcmd:
  # install dependencies for dotnet
  - apt-get install -y apt-transport-https ca-certificates curl

  # add microsoft repo
  - curl https://packages.microsoft.com/config/ubuntu/22.04/packages-microsoft-prod.deb -o /tmp/packages-microsoft-prod.deb
  - dpkg -i /tmp/packages-microsoft-prod.deb
  - rm /tmp/packages-microsoft-prod.deb
  - apt-get update
  - apt-get install -y dotnet-sdk-8.0

write_files:
  - path: /etc/systemd/system/arhitekt.service
    permissions: '0644'
    owner: root:root
    content: |
      [Unit]
      Description=Arhitekt ASP.NET Core App
      After=network.target docker.service
      Requires=docker.service

      [Service]
      WorkingDirectory=/home/ubuntu/arhitekt-published
      ExecStart=/usr/bin/dotnet /home/ubuntu/arhitekt-published/Arhitekt.dll
      Restart=always
      RestartSec=10
      User=ubuntu
      Environment=ASPNETCORE_URLS=http://0.0.0.0:5059

      [Install]
      WantedBy=multi-user.target

runcmd:
  # enable docker
  - systemctl enable docker
  - systemctl start docker

  # SQL
  - docker run --name arhitekt-sql --hostname sql1 -e "ACCEPT_EULA=Y" -e "MSSQL_SA_PASSWORD=Arhitekt2025" -e "MSSQL_PID=Developer" -p 1433:1433 -d mcr.microsoft.com/mssql/server:2022-latest
  - sleep 40

  # Redis
  - docker run --name arhitekt-redis -p 6379:6379 -d redis:7

  # clone repo
  - git clone https://github.com/evamuller2005/arhitekt-devops.git /home/ubuntu/arhitekt-devops
  - chown -R ubuntu:ubuntu /home/ubuntu/arhitekt-devops

  # publish
  - sudo -u ubuntu dotnet publish /home/ubuntu/arhitekt-devops/Arhitekt/Arhitekt.csproj -c Release -o /home/ubuntu/arhitekt-published

  # fix permissions
  - chown -R ubuntu:ubuntu /home/ubuntu/arhitekt-published

  # start
  - systemctl daemon-reload
  - systemctl enable arhitekt
  - systemctl start arhitekt
