---
- name: update packages
  apt:
    update_cache: yes

- name: instaliraj docker
  apt:
    name: docker.io
    state: present

- name: enable docker 
  systemd:
    name: docker
    enabled: yes
    state: started

- name: run ms sql v dockerju
  command: >
    docker run -e "ACCEPT_EULA=Y"
    -e "MSSQL_SA_PASSWORD=Arhitekt2025"
    -e "MSSQL_PID=Developer"
    -p 1433:1433
    --name arhitekt-sql
    -d mcr.microsoft.com/mssql/server:2025-latest
  args:
    creates: /var/lib/docker/containers

- name: wait for ms sql server to start
  pause:
    seconds: 30

- name: install .net SDK
  apt:
    name: dotnet-sdk-8.0
    state: present

- name: clone git repo
  git:
    repo: "https://github.com/evamuller2005/arhitekt-devops.git"
    dest: "/home/vagrant/arhitekt-devops"

- name: publish dotnet app
  command: dotnet publish -c Release -o /home/vagrant/arhitekt-published
  args:
    chdir: /home/vagrant/arhitekt-devops

- name: create systemd service
  copy:
    dest: /etc/systemd/system/arhitekt.service
    content: |
      [Unit]
      Description=Arhitekt ASP.NET Core Application
      After=network.target docker.service docker.socket

      [Service]
      WorkingDirectory=/home/vagrant/arhitekt-published
      ExecStart=/usr/bin/dotnet /home/vagrant/arhitekt-published/Arhitekt.dll
      Restart=always
      RestartSec=10
      User=vagrant
      Environment=ASPNETCORE_URLS=http://0.0.0.0:5059

      [Install]
      WantedBy=multi-user.target

- name: reload systemd
  command: systemctl daemon-reload

- name: enable arhitekt service
  systemd:
    name: arhitekt.service
    enabled: yes
    state: started 

